SKYMETRICS_DB_ROOT_PASSWORD=replace-with-random-password
SKYMETRICS_DB_PASSWORD=replace-with-random-password
SKYMETRICS_BOOTSTRAP_ADMIN_EMAIL=your-email@example.com
SKYMETRICS_BOOTSTRAP_ADMIN_PASSWORD=replace-with-16-plus-character-password
