DB_URL=jdbc:mysql://127.0.0.1:3308/apix_prototype?connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true&rewriteBatchedStatements=true
DB_USERNAME=apix
DB_PASSWORD=replace_with_local_password
SERVER_PORT=8080
